## Medical Dataset Analysis: Python, SQL, and Insights
Step into the world of data-driven healthcare analysis alongside Sarah, the healthcare data explorer, in our project, "Medical Dataset Analysis: Python, SQL, and Insights." With Python as her trusted tool and SQL as her analytical compass, Sarah embarks on a mission to unlock the potential hidden in interconnected medical datasets.

This project focuses on three critical datasets: "hospitalization_details," "medical_examinations," and "names." Divided into two essential modules, the project commences with meticulous data cleaning, ensuring the data's accuracy and structure. Once the data shines brilliantly, the second module unleashes the power of SQL queries to extract valuable insights.

Our journey is a deep dive into healthcare data, unearthing insights that can revolutionize healthcare decision-making and resource optimization. It's not just data analysis; it's a transformative voyage into the world of medical dataset analysis.

By the end of this project, you won't just crunch numbers; you'll possess the tools to drive data-powered improvements in healthcare, enhancing the lives of patients and streamlining resource allocation.

Join Sarah on this captivating journey, where every line of code and every SQL query unravels the mysteries of medical data. Together, we'll illuminate the path to actionable insights, shaping the future of healthcare with data-driven solutions.

## Module 1
### Task 1: Loading Hospitalization Details
In this task, we load the hospitalization details from the 'hospitalisation_details.csv' file into a Pandas DataFrame named 'hosp_details.' This step is essential for our new project, "Medical Dataset Analysis: Python, SQL, and Insights," as it forms the foundation for the data analysis and insights that we aim to derive from the medical dataset.

In [51]:
# Import Pandas
import pandas as pd

# Load the hospitalisation_details.csv file
hosp_details = pd.read_csv('hospitalisation_details.csv')

# Preview the data
hosp_details.head()

,c_id,yr,mth,date?,children?,charges?,host_tier,Ct_tier,st_id,Has_Children,Is_Frequent_Treatment
0,Id2335,1992,Jul,9,0,563.84,tier - 2,tier - 3,R1013,no,no
1,Id2334,1992,Nov,30,0,570.62,tier - 2,tier - 1,R1013,no,no
2,Id2333,1993,NaN,30,0,600.00,tier - 2,tier - 1,R1013,no,no
3,Id2332,1992,Sep,13,0,604.54,tier - 3,tier - 3,R1013,no,no
4,Id2331,1998,Jul,27,0,637.26,tier - 3,tier - 3,R1013,no,no

### Task 2: Identifying Null Values in Hospitalization Details
In this task, we identify and count the null values in the 'hosp_details' dataset. This step is crucial for our new project, "Medical Dataset Analysis: Python, SQL, and Insights," as it helps us understand the extent of missing data within the dataset. Recognizing and handling null values is essential for ensuring the accuracy and quality of our data analysis and insights.

In [52]:
# Count the null values in the hosp_details dataset
null_values = hosp_details.isnull().sum()
null_values

c_id                     0
yr                       0
mth                      1
date?                    0
children?                0
charges?                 0
host_tier                0
Ct_tier                  0
st_id                    0
Has_Children             0
Is_Frequent_Treatment    0
dtype: int64

### Task 3: Identifying Data Types in Hospitalization Details
In this task, we determine the data types of the columns in the 'hosp_details' dataset. This step is vital for our data analysis, as it provides insights into how the data is stored and helps us select appropriate methods for further analysis. Understanding the data types is crucial for working with the dataset effectively.

In [53]:
# Display the data types for hosp_details
hosp_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2432 entries, 0 to 2431
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   c_id                   2432 non-null   object
 1   yr                     2432 non-null   int64
 2   mth                    2431 non-null   object
 3   date?                  2432 non-null   int64
 4   children?              2432 non-null   int64
 5   charges?               2432 non-null   float64
 6   host_tier              2432 non-null   object
 7   Ct_tier                2432 non-null   object
 8   st_id                  2432 non-null   object
 9   Has_Children           2432 non-null   object
 10  Is_Frequent_Treatment  2432 non-null   object
dtypes: float64(1), int64(3), object(7)
memory usage: 209.1+ KB

### Task 4: Identifying Duplicate Data in Hospitalization Details
In this task, we aim to identify and quantify the presence of duplicate data within the 'hosp_details' dataset. The count of duplicates (referred to as 'duplicates' in the code) is an important metric. It helps us understand the extent of redundancy in the dataset, which is crucial for data quality and accuracy in our analysis. By recognizing and handling duplicate records, we ensure that our insights and conclusions are based on unique, meaningful data, preventing any potential distortions caused by repeated entries.

In [54]:
# Determine the number of duplicate records in the hosp_data dataframe
duplicates = hosp_details.duplicated().sum()
print('Number of duplicate records:', duplicates)

Number of duplicate records: 89

### Task 5: Data Preprocessing and Cleaning for Hospitalization Details
In this task, we perform data preprocessing and cleaning on the 'hosp_details' dataset. We start by removing duplicate records to ensure data quality and accuracy. Next, we remove specific columns, 'Has_Children' and 'Is_Frequent_Treatment,' as they are not relevant to our analysis. We also rename columns to improve clarity and understanding of the data. Finally, we save the cleaned dataset as 'hospitalisation_details_cleaned.csv.' This data preprocessing and cleaning is crucial for our analysis, as it ensures that we work with accurate and meaningful data in our new project.

In [41]:
# Drop duplicate data from hosp_details
hosp_details = hosp_details.drop_duplicates()

# Drop irrelevant columns from hosp_details
columns_to_drop = ['Has_Children', 'Is_Frequent_Treatment']
hosp_details = hosp_details.drop(columns = columns_to_drop)

# Rename the yr, mth, date?, children? and charges? columns for clarity
column_mapping = {'yr' : 'year', 'mth' : 'month', 'date?' : 'date',
                  'children?' : 'children', 'charges?' : 'charges'}
hosp_details = hosp_details.rename(columns = column_mapping)

# Display the modified dataframe to confirm changes
hosp_details.head(3)

     c_id  year month  date  children  charges host_tier   Ct_tier  st_id
0  Id2335  1992   Jul     9         0   563.84  tier - 2  tier - 3  R1013
1  Id2334  1992   Nov    30         0   570.62  tier - 2  tier - 1  R1013
2  Id2333  1993   NaN    30         0   600.00  tier - 2  tier - 1  R1013

In [43]:
# Export the cleaned dataframe
hosp_details.to_csv('hospitalisation_details_cleaned.csv', index = False)

### Task 6: Loading Medical Examination Data
In this task, we load the medical examination data from the 'medical_examinations.csv' file into a Pandas DataFrame named 'med_exam.' This step is essential for our new project, "Medical Dataset Analysis: Python, SQL, and Insights," as it forms the foundation for the data analysis and insights that we aim to derive from the medical dataset.

In [44]:
# load the medical_examinations.csv file
med_exam = pd.read_csv('medical_examinations.csv')

# Preview the data
med_exam.head()

,cid,b_m_i,HBA1C,h_Issues,any_transplant,cancer_hist,noofmajorsurgeries,smoker??,recovery_period
0,Id1,47.410,7.47,No,No,No,No major surgery,yes,None
1,Id2,30.360,5.77,No,No,No,No major surgery,yes,None
2,Id3,34.485,11.87,yes,No,No,2,yes,Moderate
3,Id4,38.095,6.05,No,No,No,No major surgery,yes,None
4,Id5,35.530,5.45,No,No,No,No major surgery,yes,None

### Task 7: Identifying Null Values in Medical Examination Data
In this task, we identify and count the null values in the 'med_exam' dataset. This step is crucial for our new project, as it helps us understand the extent of missing data within the dataset. Recognizing and handling null values is essential for ensuring the accuracy and quality of our data analysis and insights.

In [45]:
# Identify null values in the dataframe
null_values = med_exam.isnull().sum()
null_values

cid                   0
b_m_i                 0
HBA1C                 0
h_Issues              0
any_transplant        0
cancer_hist           0
noofmajorsurgeries    0
smoker??              0
recovery_period       0
dtype: int64

### Task 8: Identifying Data Types in Medical Examination Data
In this task, we determine the data types of the columns in the 'med_exam' dataset. This step is vital for our data analysis, as it provides insights into how the data is stored and helps us select appropriate methods for further analysis. Understanding the data types is crucial for working with the dataset effectively.

In [46]:
# Display the dataframe data types
med_exam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2374 entries, 0 to 2373
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   cid                 2374 non-null   object
 1   b_m_i               2374 non-null   float64
 2   HBA1C               2374 non-null   float64
 3   h_Issues            2374 non-null   object
 4   any_transplant      2374 non-null   object
 5   cancer_hist         2374 non-null   object
 6   noofmajorsurgeries  2374 non-null   object
 7   smoker??            2374 non-null   object
 8   recovery_period     2374 non-null   object
dtypes: float64(2), object(7)
memory usage: 167.0+ KB

### Task 9: Identifying Duplicate Data in Medical Examination Data
In this task, we aim to identify and quantify the presence of duplicate data within the 'med_exam' dataset. The count of duplicates (referred to as 'duplicates' in the code) is an important metric. It helps us understand the extent of redundancy in the dataset, which is crucial for data quality and accuracy in our analysis. By recognizing and handling duplicate records, we ensure that our insights and conclusions are based on unique, meaningful data, preventing any potential distortions caused by repeated entries.

In [49]:
# Determine the number of duplicate records in the dataframe
duplicates = med_exam.duplicated().sum()
print('Number of duplicate records:', duplicfates)

Number of duplicate records: 39

### Task 10: Data Preprocessing and Cleaning for Medical Examination Data
In this task, we perform data preprocessing and cleaning on the 'med_exam' dataset. We start by removing duplicate records to ensure data quality and accuracy. Next, we remove a specific column, 'recovery_period,' as it may not be relevant to our analysis. We also rename columns to improve clarity and understanding of the data. Finally, we save the cleaned dataset as 'medical_examinations_cleaned.csv.' This data preprocessing and cleaning is crucial for our analysis, as it ensures that we work with accurate and meaningful data in our new project.

In [55]:
# Drop duplicate data from med_exam
med_exam = med_exam.drop_duplicates()

# Drop irrelevant columns from med_exam
columns_to_drop = ['recovery_period']
med_exam = med_exam.drop(columns = columns_to_drop)

# Rename the b_m_i and smoker? columns for clarity
column_mapping = {'b_m_i' : 'bmi', 'smoker??' : 'smoker'}
med_exam = med_exam.rename(columns = column_mapping)

# Display the modified dataframe to confirm changes
med_exam.head(3)

,cid,bmi,HBA1C,h_Issues,any_transplant,cancer_hist,noofmajorsurgeries,smoker
0,Id1,47.410,7.47,No,No,No,No major surgery,yes
1,Id2,30.360,5.77,No,No,No,No major surgery,yes
2,Id3,34.485,11.87,yes,No,No,2,yes

In [56]:
# Export the cleaned dataframe
med_exam.to_csv('medical_examinations_cleaned.csv', index = False)

## Module 2
### Task 1: Data Download, Import, and Database Connection

**Note: All code below was shown to successfully work within HiCounselor's sandbox using their internal PHP SQL server, which hosted the tables being queried. Until I figure out how to get the code to run from within GitHub (if possible at all), the queries below will not execute.**

In [ ]:
# Load the SQL extension
%load_ext sql

# Establish the PHP SQL database connection (username and password were provided
# from within HiCounselor's sandbox)
%sql mysql+pymysql://b64adff0:Cab#22se@localhost/b64adff0

### Task 2: Average Hospital Charges Analysis
In this project, we aim to analyze a medical dataset to determine the average hospital charges. This analysis can provide essential insights into healthcare cost trends, helping hospitals and patients understand the financial aspects of medical care. By calculating the average hospital charges, we gain valuable information for financial planning, cost optimization, and transparency in healthcare services.

In [ ]:
%%sql
SELECT AVG(charges)
FROM hospitalisation_details

### Task 3: High Charges Analysis
This project focuses on identifying unique customer identifiers, corresponding years, and charges from a specific medical dataset, specifically for records where charges exceed 700. By retrieving this data, we can gain insights into cases of exceptionally high hospital charges, which can inform further investigation, cost control strategies, and patient financial support.

In [ ]:
%%sql
SELECT c_id, year, charges
FROM hospitalisation_details
WHERE charges > 700

### Task 4: High BMI Patients Analysis
In this project, we aim to retrieve the name, year, and charges for customers with a BMI (Body Mass Index) greater than 35 from a medical dataset. Analyzing the data of high BMI patients allows us to understand the healthcare costs associated with this specific group. This information can be valuable for identifying health trends, managing patient care, and optimizing medical expenses.

In [ ]:
%%sql
SELECT n.name as patient_name, h.year, h.charges
FROM hospitalisation_details h
JOIN medical_examinations m ON h.c_id = m.cid
JOIN names n ON m.cid = n.customer_id
WHERE m.bmi > 35

### Task 5: Customers with Major Surgeries
This project focuses on listing customer IDs and names of individuals from the names table who have undergone major surgeries, as recorded in the medical_examinations table. By identifying such patients, we can gain insights into the population with a history of major surgical procedures, which can inform healthcare planning, risk assessment, and medical follow-up.

In [ ]:
%%sql
SELECT n.customer_id, n.name
FROM names n
JOIN medical_examinations m ON n.customer_id = m.cid
WHERE m.noofmajorsurgeries != 'No major surgery'

### Task 6: Average Charges by Hospital Tier in 2000
In this project, we aim to calculate the average hospital charges per hospital tier for the year 2000 from the hospitalization_details table. This analysis allows us to understand the variation in charges based on the hospital tier, providing insights into cost disparities and healthcare quality across different tiers. It can assist in making informed decisions about healthcare facilities and costs.

In [ ]:
%%sql
SELECT host_tier, AVG(charges) as average_charges
FROM hospitalisation_details
WHERE year = 2000
GROUP BY host_tier

### Task 7: Smoking Patients with Transplants Analysis
This project aims to retrieve customer IDs, BMI, and charges for patients who are smokers and have undergone a transplant, as per the medical_examinations and hospitalization_details tables. Analyzing this data allows us to study the healthcare costs and health conditions of patients with a history of smoking and transplants. This information can be valuable for targeted healthcare interventions and cost estimation.

In [ ]:
%%sql
SELECT me.cid AS customer_id, me.bmi, hd.charges
FROM medical_examinations me
JOIN hospitalisation_details hd ON me.cid = hd.c_id
WHERE me.smoker = 'yes' AND me.any_transplant = 'yes'

### Task 8: Patients with Major Surgeries or Cancer History
In this project, we retrieve the names of customers who have had at least two major surgeries or have a history of cancer, as recorded in the medical_examinations table. This analysis helps identify patients with complex medical histories, enabling healthcare providers to tailor care plans and assess potential healthcare costs for these individuals.

In [ ]:
%%sql
SELECT n.name
FROM names n
JOIN medical_examinations me ON n.customer_id = me.cid
WHERE me.noofmajorsurgeries >= 2 OR me.cancer_hist = 'Yes'

### Task 9: Customer with Most Major Surgeries
In this project, we identify and display the customer with the highest number of major surgeries. By joining the names and medical_examinations tables and sorting the records by the number of major surgeries in descending order, we can pinpoint the customer with the most significant surgical history. This insight is valuable for personalized healthcare management and resource allocation.

In [ ]:
%%sql
SELECT n.name, me.noofmajorsurgeries
FROM names n
JOIN medical_examinations me ON n.customer_id = me.cid
WHERE me.noofmajorsurgeries != 'No major surgery'
ORDER BY CAST(me.noofmajorsurgeries AS SIGNED) DESC
LIMIT 1

### Task 10: Customers with Major Surgeries and City Tiers
In this project, we compile a list of customers who have undergone major surgeries and their respective cities' tier levels (city_tier) from the hospitalization_details table. This analysis provides insights into the distribution of major surgeries across different city tiers, aiding in healthcare planning, resource allocation, and assessing the impact of city tiers on surgical cases.

In [ ]:
%%sql
SELECT hd.c_id AS customer_id, hd.Ct_tier AS city_tier
FROM hospitalisation_details hd
JOIN medical_examinations me ON hd.c_id = me.cid
WHERE me.noofmajorsurgeries != 'No major surgery'
ORDER BY hd.Ct_tier

### Task 11: Average BMI by City Tier in 1995
This project aims to calculate the average BMI for each city tier level in the year 1995 from the hospitalization_details table. Analyzing the average BMI across different city tiers allows us to understand the variations in health parameters among urban areas. It provides insights that can be used for health planning, resource allocation, and identifying potential health trends.

In [ ]:
%%sql
SELECT hd.Ct_tier AS city_tier, AVG(me.bmi) AS average_bmi
FROM hospitalisation_details hd
JOIN medical_examinations me ON hd.c_id = me.cid
WHERE hd.year = 1995
GROUP BY hd.Ct_tier

### Task 12: High BMI Customers with Health Issues
In this project, we extract customer IDs, names, and charges of customers who have health issues and a BMI greater than 30. By combining data from the names, medical_examinations, and hospitalization_details tables, we can identify individuals with specific health concerns and high BMI levels. This information is valuable for targeted healthcare interventions and assessing associated healthcare costs.

In [ ]:
%%sql
SELECT n.customer_id, n.name, hd.charges
FROM names n
JOIN medical_examinations me ON n.customer_id = me.cid
JOIN hospitalisation_details hd ON n.customer_id = hd.c_id
WHERE me.h_Issues = 'yes' AND me.bmi > 30

### Task 13: Customers with Highest Charges and City Tier by Year
In this project, we identify the customer with the highest total charges for each year and display their corresponding city_tier. By joining the hospitalization_details and names tables and grouping the data by year, customer name, and city_tier, we can determine which customer incurred the highest charges in each year. This analysis is crucial for understanding cost patterns over time and tailoring healthcare strategies accordingly.

In [ ]:
%%sql
SELECT hd.year, hd.ct_tier, n.customer_id, n.name, hd.charges
FROM (
    SELECT year, MAX(charges) AS max_charge
    FROM hospitalisation_details
    GROUP BY year
) AS max_per_year
JOIN hospitalisation_details hd ON max_per_year.year = hd.year AND max_per_year.max_charge = hd.charges
JOIN medical_examinations me ON hd.c_id = me.cid
JOIN names n ON n.customer_id = me.cid
ORDER BY hd.year DESC;

### Task 14: Top 3 Customers with Highest Average Yearly ChargesÂ¶
This project focuses on identifying the top 3 customers with the highest average yearly charges over the years they have been hospitalized. By calculating and analyzing the average yearly charges from the hospitalization_details data and joining it with customer names, we can pinpoint those individuals with the highest healthcare expenditure. Understanding these patterns is essential for resource allocation and tailored healthcare planning.

In [ ]:
%%sql
SELECT n.name, AVG(hd.charges) AS avg_yearly_charge
FROM hospitalisation_details hd
JOIN names n ON hd.c_id = n.customer_id
GROUP BY n.name
ORDER BY avg_yearly_charge DESC
LIMIT 3

### Task 15: Ranking Customers by Total Charges
This analysis aims to rank customers based on their total charges over the years in descending order. By summing up the charges from the hospitalization_details data for each customer and assigning a rank, we can identify those with the highest healthcare expenses. This information is valuable for healthcare providers and policymakers in tailoring services and managing resources effectively.

In [ ]:
%%sql
SELECT name, total_charges,
    DENSE_RANK() OVER (ORDER BY total_charges DESC) AS name_rank
FROM (
    SELECT n.name, SUM(hd.charges) AS total_charges
    FROM hospitalisation_details hd
    JOIN names n ON hd.c_id = n.customer_id
    GROUP BY n.name
) ranked_names

### Task 16: Identifying Peak Year for Hospitalizations
This task is essential for identifying the year with the highest number of hospitalizations. By calculating the count of hospitalizations for each year from the hospitalization_details dataset, we can pinpoint the peak year for healthcare demand. This insight can help healthcare institutions allocate resources and plan for peak demand years more effectively.

In [ ]:
%%sql
SELECT year, COUNT(DISTINCT c_id) AS hospitalisation_count
FROM hospitalisation_details
GROUP BY year
ORDER BY year